[Unit]
Description=Radicale CalDAV/CardDAV data and config backup

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -a --delete --chmod=Dg+x,Fg+r %h/data/ /var/backups/radicale/data/
ExecStart=/usr/bin/rsync -a --delete --chmod=Dg+x,Fg+r %h/config/ /var/backups/radicale/config/
ExecStart=/usr/bin/rsync -a --chmod=Dg+x,Fg+r /etc/caddy/radicale-credentials /var/backups/radicale/caddy/
